*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../images/comfortable-office-room-with-laptop-computer-office-supplies-white-wooden-table_67155-4101.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode:color-burn;
    background-color: gray;
    height: 100vh;
    


}


img{
    width: 50vw;
    height: 40vh;
    margin: auto;
    display: block;
    margin-top: 5rem;
}
h3{
    color: orange;
    text-align: center;
    margin: 2rem 5rem 0 5rem;
    line-height: 1.5;
    font-size:xx-large;
}